/* CUSTOM STORY STYLE */
.prev
    display flex
    flex-direction row
    margin 0 auto
    max-width $column-width
    color $gray-dark
    justify-content center
    margin-bottom 3rem

    p
        margin 0
        set-type-size('root', true)

    a
      set-type-size('root', true) 
      color $gray-dark
      margin 0 0.5rem 
      font-weight 700
      border-bottom 1px solid $gray
      &:hover
        color #a239ca
        border-bottom 1px solid #a239ca  

.details
    margin 3rem auto 9rem auto

    ul
        margin-left 3rem
        font-family $national
        list-style-type disc

    .note
        margin-top 2rem
        padding-top 0.25rem
        border-top 1px solid $gray
        color $gray-dark
        font-family $national
        set-type-size('small', true)

    button
        margin 4rem auto
        width 12rem
        max-width 12rem
        height 4rem
        background-color #ff533d
        color $white
        border-radius 0.25rem  
        display block 
        &:hover
            background-color $off-black    

body
	padding 1rem
	background-color $off-white

ul
	li
		margin-bottom 0.5rem

a
	color #a239ca

p.submit
	margin 3rem 0
	text-align center

	a
		padding 1rem
		set-type-size(large, false)
		border none
		border-radius 3px
		background #a239ca
		color $white
		font-weight 600
		font-family $sans
		line-height 1

p.commercial
	margin 0 auto
	padding 1rem
	max-width $column-width
	set-type-size(small, true)

#winners
	margin 0 auto
	padding 1rem
	max-width 40rem

	.hed
		h2
			margin 0
			font-weight 600
			set-type-size('xx-large', true)

		p
			margin 0

	ul
		margin-top 2rem

	li
		margin-bottom 4rem

	h3
		margin 0
		font-weight bold
		cursor pointer
		set-type-size('large', true)

		a
			border-color #a239ca
			color #a239ca
			cursor pointer
			&:hover
				border-color $gray-dark
				color $gray-dark	

	p.credit
		margin 0.5rem 0
		line-height 1.4
		font-family $national

		a
			&:hover
				color #a239ca
				border-color #a239ca

	p
		a
			&:hover
				color #a239ca
				border-color #a239ca			

	img
		margin-top 2rem

	.other
		margin-bottom 3rem

		li
			margin-top 0
			margin-bottom 0
			line-height 1.5
			set-type-size('large', true)
			font-weight 700

			span
				font-family $national
				font-weight 500
				set-type-size('medium', true)

			a
				border-bottom 1px solid #a239ca
				color #a239ca
				&:hover
					color $gray-dark
					border-bottom 1px solid $off-black

.note
	margin-top 2rem
	padding-top 0.25rem
	border-top 1px solid $gray
	color $gray-dark
	font-family $national
	set-type-size('small', true)
