<div class='details prose'>
	<ul>
        {{#each doc.details}}
            <li>{{{value}}}</li>
        {{/each}}
    </ul>

    <p class='note'>*{{{doc.commercial}}}</p>

    <button>Submit</button>
</div>