<div class='details prose'>
	<ul>
        {{#each doc.details}}
            <li>{{{value}}}</li>
        {{/each}}
    </ul>

    <p class='note'>*{{{doc.commercial}}}</p>

    <a href='https://forms.gle/r6Uv68q4DCFJ7q3H6' target='_blank'><button>Fill out the form</button></a>
</div>